/* COMMON */
body {
  color: #333;  /* 같은 숫자면 3개 생략 가능 */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /* 줄 높이 */
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block; /* img 파일을 하나의 레이아웃으로 취급하겠다 */
}
a {
  text-decoration: none; /* a 태그 밑줄 쓰지 않겠다. */
}


/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}
header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex; /* 수직인걸 수평으로 정렬 */
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  display: block; /* before 인라인 요소 display block 추가 */
  width: 1px;
  height: 12px;
  background-color: black;
  position: absolute; /* absoulte flexed는 display값이 block으로 바뀐다. */
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s; /* 기본값 all // 0.4s => 0.4초 앞에 0은 생략 */
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute; /* 부모 요소 기준 배치 */
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0; /* material-icons 포커스되면 돋보기 모양 없애기 */
}